body {
    background: url('/img/img_login.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.login-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    padding: 40px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.social-login button {
    margin: 5px;
}
