body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrap {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    color: #ecf0f1;
    margin: 20px auto;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

    .sidebar-menu > li {
        position: relative;
        padding: 0;
        border-bottom: 1px solid white;
    }

        .sidebar-menu > li:last-child {
            border-bottom: none;
        }

        .sidebar-menu > li > a {
            display: block;
            padding: 18px 10px;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            transition: background 0.2s;
        }

            .sidebar-menu > li > a:hover {
                background-color: #54bba7;
                border-top: 1px solid white;
                border-left: 1px solid white;
                border-right: 1px solid white;
            }

    .sidebar-menu li.dropdown {
        position: relative;
    }

        .sidebar-menu li.dropdown .submenu {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 210px;
            background-color: #3f5870;
            list-style: none;
            padding-left: 0;
            z-index: 1000;
            margin: 0;
            border-radius: 6px;
            border: 1px solid #1f2d3a; 
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25); 
        }

        .sidebar-menu li.dropdown:hover .submenu {
            display: block;
        }

    .sidebar-menu .submenu li a {
        display: block;
        padding: 12px 22px;
        color: #ecf0f1;
        text-decoration: none;
        transition: background 0.2s;
        border-radius: 4px;
        margin-bottom: 1px;
    }


        .sidebar-menu .submenu li a:hover {
            background-color: #1abc9c;
            color: #ffffff;
        }
    .sidebar-menu li.dropdown:hover > a {
        background-color: #54bba7;
    }

.content {
    flex-grow: 1;
    padding: 30px;
    background-color: #ecf0f1;
}
