.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu > li {
    position: relative;
}

.sidebar-menu > li > a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #f9f9f9;
    border: 1px solid #ccc;
    min-width: 160px;
}

.submenu li a {
    padding: 10px 15px;
    display: block;
    color: black;
    text-decoration: none;
}

.sidebar-menu li.dropdown:hover .submenu {
    display: block;
}

.sidebar-menu li a:hover,
.submenu li a:hover {
    background-color: #e0e0e0;
}
